html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 90%;
}
.menu {
    width: 10%;
    background-color: aliceblue;
    padding: 10px 20px 0px;
}
.header {
    background-color: aquamarine;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 2px;
}
.footer {
    background-color: #6ed6eeea;
    min-height: 10px;
}